:root {
    --sky-blue: #0088ff;
    --blue-shadow: #014988;
    --bone-gray:rgb(228, 227, 227);
    --bone-white: rgb(255, 244, 230);
    --alternating-gray: rgb(151, 151, 151);
    --breadcrumb-white: rgb(243, 243, 243);
    --sky-high: #36baee;
    --deep-ocean: #00325e;
    --high-purple:rgb(40, 16, 175);
    --deep-purple:#3a0b41;
    --purple-bar: rgb(141, 32, 141);
    --blue-bar: rgb(41, 39, 179);
    --red-bar: rgb(219, 22, 22);
}