@import "colors.css";

.menu {
    margin-left: auto;
    margin-right: auto;
    border: 1px solid black;
    width: 500px;
    height: 50px;
    text-align: center;
    background-color: var(--sky-blue);
}

.navbar td{
    width:600px;
    text-align: center;
    box-shadow: var(--blue-shadow) 0px 0px 0px 2px;
    z-index:1;
}
.navbar a{
    display: block;
    padding: 10px; 
}
.navbar td:hover {
    background-color: var(--bone-gray);
}

.container {
    max-width: 1024 px;
}

.active-page {
    background-color: var(--sky-high);
    z-index:2;
}
footer {
    text-align: center;
    padding: 15px;
    background-color: var(--deep-ocean);
    color: white;
    font-size: 13px;
}

footer img {
    float: left;
    width: 80px;
    height: 57px;
    text-align: left;
}

ul.breadcrumb {
    padding: 10px;
    background-color: var(--breadcrumb-white);
  }
.breadcrumb li{
    display: inline;
}

.breadcrumb li+li:before {
    padding: 8px;
    color: black;
    content: "/\00a0";
  }

.breadcrumb li a:hover {
    color: var(--deep-ocean);
    text-decoration: underline;
}

h1::first-letter {
    font-size: 55px;
}
h1 {
    font-size: 40px;
    text-transform: uppercase;
    color: var(--high-purple);
    padding-bottom: 10px;
    font-family: "Copperplate", fantasy;
    text-shadow: 1px 1px;
}
h2::first-letter {
    font-size: 35px;
}
h2 {
    font-size: 25px;
    text-transform: uppercase;
    color: var(--high-purple);
    padding-bottom: 10px;
    font-family: "Copperplate", fantasy;
}
h3::first-letter {
    font-size: 20px;
}
h3 {
    font-size: 17px;
    text-transform: uppercase;
    color: var(--high-purple);
    padding-bottom: 10px;
    font-family: "Copperplate", fantasy;
}
h4::first-letter {
    font-size: 15px;
}

h4 {
    font-size: 10px;
    text-transform: uppercase;
    color: var(--high-purple);
    padding-bottom: 10px;
    font-family: "Copperplate", fantasy;
}

/*CSSInfo Page CSS*/
pre {
    font-family: 'Courier New', Courier, monospace;
    background-color: var(--bone-white);
}

strong {
    color:var(--deep-purple);
}

.note {
    margin-left: 5px;
    margin-right: 5px;
    background-color: var(--bone-white);
    border-left: 1px solid;
}

dl dt{
    font-size: 19px;
    font-weight: bold;
}