@import "colors.css";

p {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

h1 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

h2 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
table.graph{
    border: 1px solid;
    background-color: var(--bone-white);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1.1em;
    width: 1024px;
}
table th {
    border: 1px solid;    
}
table thead{
    margin: 3px;
    padding: 4px;
}

tr:nth-child(even) {
    background-color: var(--alternating-gray);
}
table tr td{
    border: 1px solid;
}

.bar {
    display: block;
    border-radius: 0px 15px 15px 0px;
    margin: 3px;
    padding: 3px;
}

.bar-purple {
    background-color: var(--purple-bar);
}
.bar-blue {
    background-color: var(--blue-bar);
}
.bar-red {
    background-color: var(--red-bar);
}


