@import "colors.css";

table {
    border: 1px solid;
    background-color: var(--bone-white);
}
table th {
    border: 1px solid;    
}
tr:nth-child(1) {
    background-color: white;
}

tr:nth-child(even) {
    background-color: var(--alternating-gray);
}
table tr td{
    border: 1px solid;
}

.bar {
    display: block;
    border-radius: 0px 15px 15px 0px;
    margin: 3px;
    padding: 3px;
}

.bar-purple {
    background-color: purple;
}
.bar-blue {
    background-color: blue;
}
.bar-red {
    background-color: red;
}


